:root {
  --background-color: rgb(27,48,34);
  --color: rgb(242,243,217);
  --barre: rgb(19, 67, 19);
}



html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--background-color);
  color: var(--color); 
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
